.cover__overlay{
  min-height: 720px;
  max-width: 1280px;
  width: 100%;
	text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.cover__overlay:hover {
  opacity: 0.8;
}

@media screen and (max-width: 1024px) {
  .cover__overlay {
  min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__overlay {
      min-height: 480px;
  }
}

@media screen and (max-width: 425px) {
  .cover__overlay {
      min-height: 200px;
  }
}
